# This file is managed by nrgillumos Puppet module.

# Master endpoint
object Endpoint "<%= scope['nrgillumos::icinga2_client::master_endpoint_host'] %>" {
  host = "<%= scope['nrgillumos::icinga2_client::master_endpoint_host'] %>"
  port = <%= scope['nrgillumos::icinga2_client::master_endpoint_port'] %>
}

# My endpoint
object Endpoint "<%= @lower_fqdn %>" {
  host = "<%= @lower_fqdn %>"
  port = 5665
}

