<?xml version="1.0"?>
<!DOCTYPE service_bundle SYSTEM "/usr/share/lib/xml/dtd/service_bundle.dtd.1">
<!-- This file is managed by nrg/nrgillumos Puppet module. -->
<!-- SMF manifest for Icinga2 service. -->
<service_bundle type="manifest" name="icinga2">

  <service name="network/icinga2" type="service" version="1">

    <create_default_instance enabled="false"/>
    <single_instance/>

    <dependency name="config-file" grouping="require_all" restart_on="none" type="path">
      <service_fmri value="file://<%= scope['nrgillumos::icinga2_client::install_prefix'] %>/etc/icinga2/icinga2.conf"/>
    </dependency>

    <dependency name="loopback" grouping="require_all" restart_on="error" type="service">
      <service_fmri value="svc:/network/loopback:default"/>
    </dependency>

    <dependency name="physical" grouping="require_all" restart_on="error" type="service">
      <service_fmri value="svc:/network/physical:default"/>
    </dependency>

    <dependency name="fs-local" grouping="require_all" restart_on="none" type="service">
      <service_fmri value="svc:/system/filesystem/local"/>
    </dependency>

    <exec_method type="method" name="start" exec="/lib/svc/method/icinga2 start" timeout_seconds="60"/>

    <exec_method type="method" name="stop" exec="/lib/svc/method/icinga2 stop" timeout_seconds="60"/>

  <stability value="Evolving"/>

    <template>
      <common_name>
        <loctext xml:lang="C">Icinga2 Daemon</loctext>
      </common_name>
      <documentation>
        <manpage title="icinga2" section="1"/>
        <doc_link name="icinga.org" uri="https://www.icinga.org/"/>
      </documentation>
    </template>
  </service>

</service_bundle>
