### This file is managed by Puppet ###
## Module:           '<%= scope.to_hash['module_name'] %>'

[agent]
<% if @puppetmaster and !@puppetmaster.empty?  -%>
    server            = <%= @puppetmaster %>
<% end -%>
<% unless [nil, :undefined, :undef].include?(scope.lookupvar('::nrgillumos::puppet_agent::runinterval')) -%>
    runinterval       = <%= scope.lookupvar('::nrgillumos::puppet_agent::runinterval') %>
<% end -%>
    environment       = <%= scope.lookupvar('::nrgillumos::puppet_agent::environment') %>

[main]
<% if @ca_server and !@ca_server.empty? -%>
    # Use specified CA server
    ca_server = <%= @ca_server %>
<% end -%>

