#!/bin/bash

# Managed by puppet.  All changes will be overwritten.
#
# puppet_module_nrgillumos/files/profile 


# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
# Copyright 2010 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
# Copyright 2012 OmniTI Computer Consulting, Inc.  All rights reserved.
# Copyright 2015 Nexenta Systems, Inc. All rights reserved.
#

# The profile that all logins get before using their own .profile.

trap ""  2 3
export LOGNAME PATH

if [ "$TERM" = "" ]
then
    if [ `uname -p` = "i386" ]; then
        TERM=sun-color
    else
        TERM=sun
    fi
    export TERM
fi

#       Login and -su shells get /etc/profile services.
#       -rsh is given its environment in its .profile.

case "$0" in
-sh | -ksh | -ksh93 | -jsh | -bash | -zsh)

    if [ ! -f .hushlogin ]
    then
        /usr/sbin/quota
        #       Allow the user to break the Message-Of-The-Day only.
        trap "trap '' 2"  2
        /bin/cat -s /etc/motd
        trap "" 2

        if [ -d <%= @puppetmotd_path %> ]; then
            motds=`ls -1 <%= @puppetmotd_path %>`
            for motd in $motds; do
                /bin/cat -s <%= @puppetmotd_path %>/$motd
            done
        fi

        /bin/mail -E
        case $? in
        0)
            echo "You have new mail."
            ;;
        2)
            echo "You have mail."
            ;;
        esac

    fi
esac

umask 022
trap  2 3


#
# Simple profile places /usr/gnu/bin at front,
# adds /usr/X11/bin, /usr/sbin and /sbin to the end.
#
# Use less(1) as the default pager for the man(1) command.
#
if [ -t 1 ]; then
    # OpenCSW when running on console.
    echo "Loading console friendly path with OpenCSW"
    export PATH=<%= @profile_path %>
    echo "PATH=${PATH}"
else
    # OmniOS defaults
    export PATH=/usr/gnu/bin:/usr/bin:/usr/sbin:/sbin
fi

export PAGER="/usr/bin/less -ins"

#
# Define default prompt to <username>@<hostname>:<path><"($|#) ">
# and print '#' for user "root" and '$' for normal users.
#
#PS1='${LOGNAME}@$(/usr/bin/hostname):$(
#    [[ "${LOGNAME}" == "root" ]] && printf "%s" "${PWD/${HOME}/~}# " ||
#    printf "%s" "${PWD/${HOME}/~}\$ ")'

export TERMINFO=$HOME/.terminfo

export HISTFILESIZE=4000
export HISTSIZE=4500
export HISTTIMEFORMAT='%F %T '

export TERM=xterm-color

alias ls='/usr/gnu/bin/ls --color=auto'

#color() { "$@" 2>&1>&3|sed 's,.*,\x1B[31m&\x1B[0m,'>&2; } 3>&1

lesskey /etc/lesskey.input

# This file is subject being overwritten by the setup script.
# Place customizations in ~/.bashrc instead

if [ -f ~/.bashrc ]; then
    source ~/.bashrc
fi

export PROMPT_COMMAND='export H1="`history 1|sed -e "s/^[\ 0-9]*//; s/[\d0\d31\d34\d39\d96\d127]*//g; s/\(.\{1,50\}\).*$/\1/g"`";history -a;echo -e "sgr0\ncnorm\nrmso"|tput -S'
export PS1='\n\e[1;30m[\j:\!\e[1;30m]\e[0;36m \T \d \e[1;30m[\e[1;34m\u@\H\e[1;30m:\e[0;37m`tty 2>/dev/null` \e[0;32m+${SHLVL}\e[1;30m] \e[1;37m\w\e[0;37m\[\033]0;[ ${H1}... ] \w - \u@\H +$SHLVL @`tty 2>/dev/null` - [ `uptime` ]\007\]\n\[\]\$ '

