# This file managed by OZMT/ozmt puppet module.
set realname="<%= @realname %>"
set hostname="<%= @fqdn %>"
set from="<%= @email_from_real %>"
set use_envelope_from=yes
set ssl_use_sslv3=no
set ssl_use_tlsv1=no
set sendmail="/opt/csw/sbin/sendmail -oem -oi"

